<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.upi">
  <intent-filter android:label="UPI">
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:scheme="https" android:host="UPI" />
  </intent-filter>
</manifest>
